In [1]:
import pandas as pd
data = pd.read_csv('wangyuan_original.csv')
data

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip
0,35909892,2,63,5,1/4/2015 10:02:32,1069816513090067,1309,0,NaN,1.0,110.240.216.24
1,35909902,2,4,5,1/4/2015 10:02:34,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24
2,35909927,2,75,5,1/4/2015 10:02:47,1069816513090067,1309,0,Java程序符号,1.0,110.240.216.24
3,35911574,2,76,5,1/4/2015 10:19:49,1069816513090067,1309,932,Java程序符号,1.0,110.240.216.24
4,35911596,2,75,5,1/4/2015 10:20:00,1069816513090067,1309,0,Java数据类型及转换,1.0,110.240.216.24
...,...,...,...,...,...,...,...,...,...,...,...
129192,38597841,2,4,182,26/4/2015 19:47:26,1069811514030191,1403,0,计算机网络原理(新),1.0,114.84.231.245
129193,38597857,2,75,182,26/4/2015 19:47:34,1069811514030191,1403,0,第05讲,1.0,114.84.231.245
129194,38619455,2,63,182,26/4/2015 23:43:30,1069800413090032,1309,0,NaN,1.0,219.144.192.229
129195,38619457,2,4,182,26/4/2015 23:43:32,1069800413090032,1309,0,计算机网络原理(新),1.0,219.144.192.229
129196,38619460,2,75,182,26/4/2015 23:43:40,1069800413090032,1309,0,第01讲,1.0,219.144.192.229

In [2]:
import time
data['time'] = data['rtime'].apply(lambda x: int(time.mktime(time.strptime(x, "%d/%m/%Y %H:%M:%S"))))
data

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time
0,35909892,2,63,5,1/4/2015 10:02:32,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427853752
1,35909902,2,4,5,1/4/2015 10:02:34,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427853754
2,35909927,2,75,5,1/4/2015 10:02:47,1069816513090067,1309,0,Java程序符号,1.0,110.240.216.24,1427853767
3,35911574,2,76,5,1/4/2015 10:19:49,1069816513090067,1309,932,Java程序符号,1.0,110.240.216.24,1427854789
4,35911596,2,75,5,1/4/2015 10:20:00,1069816513090067,1309,0,Java数据类型及转换,1.0,110.240.216.24,1427854800
...,...,...,...,...,...,...,...,...,...,...,...,...
129192,38597841,2,4,182,26/4/2015 19:47:26,1069811514030191,1403,0,计算机网络原理(新),1.0,114.84.231.245,1430048846
129193,38597857,2,75,182,26/4/2015 19:47:34,1069811514030191,1403,0,第05讲,1.0,114.84.231.245,1430048854
129194,38619455,2,63,182,26/4/2015 23:43:30,1069800413090032,1309,0,NaN,1.0,219.144.192.229,1430063010
129195,38619457,2,4,182,26/4/2015 23:43:32,1069800413090032,1309,0,计算机网络原理(新),1.0,219.144.192.229,1430063012
129196,38619460,2,75,182,26/4/2015 23:43:40,1069800413090032,1309,0,第01讲,1.0,219.144.192.229,1430063020

In [12]:
temp = data[(data['stuno']==1069816513090067) & (data['courseid']==5)]

In [14]:
temp.sort_values(by=['time'], ascending=True)

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time
14518,34538814,2,63,5,18/3/2015 15:58:58,1069816513090067,1309,0,NaN,1.0,110.228.36.101,1426665538
14519,34538825,2,4,5,18/3/2015 15:59:03,1069816513090067,1309,0,JAVA语言(新),1.0,110.228.36.101,1426665543
16249,35288963,2,63,5,25/3/2015 15:30:36,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427268636
16250,35288969,2,4,5,25/3/2015 15:30:39,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427268639
16251,35290620,2,63,5,25/3/2015 15:39:00,1069816513090067,1309,0,NaN,1.0,124.127.254.98,1427269140
16252,35290623,2,4,5,25/3/2015 15:39:02,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427269142
16253,35290709,2,75,5,25/3/2015 15:39:24,1069816513090067,1309,0,核心GUI类,1.0,124.127.254.98,1427269164
16254,35290800,2,75,5,25/3/2015 15:39:45,1069816513090067,1309,0,基于授权的事件处理,1.0,124.127.254.98,1427269185
16255,35290910,2,63,5,25/3/2015 15:40:14,1069816513090067,1309,0,NaN,1.0,124.127.254.98,1427269214
16256,35292338,2,63,5,25/3/2015 15:47:31,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427269651
16257,35292346,2,4,5,25/3/2015 15:47:34,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427269654
16258,35293341,2,4,5,25/3/2015 15:53:12,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427269992
16259,35300565,2,63,5,25/3/2015 16:33:06,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427272386
16260,35300570,2,4,5,25/3/2015 16:33:07,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427272387
16295,35364974,2,63,5,26/3/2015 10:20:29,1069816513090067,1309,0,NaN,1.0,124.127.254.98,1427336429
16296,35364977,2,4,5,26/3/2015 10:20:30,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336430
16297,35365091,2,63,5,26/3/2015 10:21:15,1069816513090067,1309,0,NaN,1.0,124.127.254.98,1427336475
16298,35365096,2,4,5,26/3/2015 10:21:16,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336476
16299,35365105,2,4,5,26/3/2015 10:21:19,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336479
16300,35365113,2,4,5,26/3/2015 10:21:21,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336481
16301,35365114,2,4,5,26/3/2015 10:21:23,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336483
16302,35365123,2,4,5,26/3/2015 10:21:26,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336486
16303,35365131,2,4,5,26/3/2015 10:21:29,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336489
16304,35365138,2,4,5,26/3/2015 10:21:31,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336491
16305,35365149,2,4,5,26/3/2015 10:21:33,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336493
16306,35365159,2,4,5,26/3/2015 10:21:36,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336496
16307,35365166,2,4,5,26/3/2015 10:21:38,1069816513090067,1309,0,JAVA语言(新),1.0,124.127.254.98,1427336498
16337,35392978,2,63,5,26/3/2015 13:51:56,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427349116
16338,35392989,2,4,5,26/3/2015 13:51:57,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427349117
16339,35393521,2,4,5,26/3/2015 13:55:20,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427349320
16340,35393558,2,75,5,26/3/2015 13:55:34,1069816513090067,1309,0,Java开发环境与JDK,1.0,110.240.216.24,1427349334
16342,35399651,2,76,5,26/3/2015 14:29:35,1069816513090067,1309,1023,Java开发环境与JDK,1.0,110.240.216.24,1427351375
16343,35399737,2,75,5,26/3/2015 14:30:07,1069816513090067,1309,0,Java程序符号,1.0,110.240.216.24,1427351407
0,35909892,2,63,5,1/4/2015 10:02:32,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427853752
1,35909902,2,4,5,1/4/2015 10:02:34,1069816513090067,1309,0,JAVA语言(新),1.0,110.240.216.24,1427853754
2,35909927,2,75,5,1/4/2015 10:02:47,1069816513090067,1309,0,Java程序符号,1.0,110.240.216.24,1427853767
3,35911574,2,76,5,1/4/2015 10:19:49,1069816513090067,1309,932,Java程序符号,1.0,110.240.216.24,1427854789
4,35911596,2,75,5,1/4/2015 10:20:00,1069816513090067,1309,0,Java数据类型及转换,1.0,110.240.216.24,1427854800
1402,36148888,2,63,5,3/4/2015 15:43:17,1069816513090067,1309,0,NaN,1.0,101.16.124.32,1428046997
19158,37832918,2,68,5,21/4/2015 13:36:58,1069816513090067,1309,0,《JAVA语言》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完成。,1.0,110.228.211.243,1429594618
19159,37832947,2,69,5,21/4/2015 13:37:04,1069816513090067,1309,0,《JAVA语言》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完成...,1.0,110.228.211.243,1429594624

In [15]:
data['oper'].value_counts()

63    62075
4     32440
75     7517
76     6063
78     5820
67     2812
69     2184
68     2033
71     1929
70     1802
79      887
64      719
66      579
60      509
17      432
55      431
74      239
62      203
77      166
2       122
1       107
56       89
57       30
65        7
58        1
72        1
Name: oper, dtype: int64

In [56]:
data['oper'].nunique()

26

In [58]:
data['stuno'].nunique()

954

In [57]:
data['oper'].unique()

array([63,  4, 75, 76, 78, 79, 74, 67, 64, 62, 66, 55, 17, 60,  1, 65,  2,
       57, 56, 77, 58, 68, 69, 70, 71, 72])

In [19]:
data[data['title'].isnull()]

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time
0,35909892,2,63,5,1/4/2015 10:02:32,1069816513090067,1309,0,NaN,1.0,110.240.216.24,1427853752
5,35914289,2,63,5,1/4/2015 10:45:15,1069800111030041,1103,0,NaN,1.0,1.50.159.145,1427856315
6,35922473,2,63,5,1/4/2015 12:33:40,1069800111030041,1103,0,NaN,1.0,1.50.159.145,1427862820
7,35923111,2,63,5,1/4/2015 12:44:55,1069816513090535,1309,0,NaN,1.0,101.73.119.248,1427863495
13,35958453,2,63,5,1/4/2015 19:33:31,1069811513090787,1309,0,NaN,1.0,101.87.88.232,1427888011
...,...,...,...,...,...,...,...,...,...,...,...,...
129179,38576213,2,63,182,26/4/2015 16:27:31,1069811514031064,1403,0,NaN,1.0,49.80.241.121,1430036851
129182,38578933,2,63,182,26/4/2015 16:53:41,1069802313090054,1309,0,NaN,1.0,211.138.125.150,1430038421
129187,38596243,2,63,182,26/4/2015 19:32:20,1069811514031064,1403,0,NaN,1.0,49.80.241.121,1430047940
129191,38597747,2,63,182,26/4/2015 19:46:41,1069811514030191,1403,0,NaN,1.0,114.84.231.245,1430048801
129194,38619455,2,63,182,26/4/2015 23:43:30,1069800413090032,1309,0,NaN,1.0,219.144.192.229,1430063010

In [20]:
data['courseid'].value_counts()

23     55298
182    54248
5      19651
Name: courseid, dtype: int64

In [3]:
processed = data[~data['title'].isnull()]
processed.sort_values(by=['stuno', 'time'], ascending=True, inplace=True)
processed

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time
13978,33908991,2,4,5,3/2/2015 23:54:01,1069800109030188,903,0,JAVA语言(新),NaN,202.117.16.130,1422978841
13979,33908994,2,75,5,3/2/2015 23:54:09,1069800109030188,903,0,Java数据类型及转换,NaN,202.117.16.130,1422978849
13980,33909007,2,76,5,3/2/2015 23:54:16,1069800109030188,903,6,Java数据类型及转换,NaN,202.117.16.130,1422978856
1670,18473431,3,1,5,1/8/2014 11:19:48,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863188
1671,18473433,3,1,5,1/8/2014 11:20:02,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863202
...,...,...,...,...,...,...,...,...,...,...,...,...
17313,37070739,2,76,5,15/4/2015 15:34:13,1069850614030038,1403,79,Java语言背景,1.0,121.9.250.3,1429083253
17314,37070744,2,77,5,15/4/2015 15:34:15,1069850614030038,1403,0,Java语言背景,1.0,121.9.250.3,1429083255
17315,37071080,2,76,5,15/4/2015 15:36:33,1069850614030038,1403,141,Java语言背景,1.0,61.142.248.66,1429083393
17318,37074841,2,75,5,15/4/2015 16:00:13,1069850614030038,1403,0,网络通信基础,1.0,61.142.248.66,1429084813
17327,37076993,2,76,5,15/4/2015 16:13:21,1069850614030038,1403,787,网络通信基础,1.0,61.142.248.66,1429085601

In [5]:
set(processed['oper'].values)

{1, 2, 4, 56, 57, 58, 60, 65, 67, 68, 69, 70, 71, 72, 75, 76, 77, 78, 79}

In [6]:
processed['oper'].value_counts()

4     32440
75     7517
76     6063
78     5820
67     2812
69     2184
68     2033
71     1929
70     1802
79      887
60      509
77      166
2       122
1       107
56       89
57       29
65        7
58        1
72        1
Name: oper, dtype: int64

查看、浏览、观看、学习：67,60,65,72,1
拖拽、继续学习、暂停、修改:4,78,79,77,58
提交、上传、回复: 75,71,56,57
进入、下载:62,64,68,69,70,2
时长：76,2

In [11]:
def change(x):
    if x in [60,65,67,72,1]:
        return 'watch'
    elif x in [4,78,79,77,58]:
        return 'tag'
    elif x in [75,71,56,57]:
        return 'done'
    elif x in [62,64,68,69,70]:
        return 'enter'
    else:
        return 'duration'
processed['new_oper'] = processed['oper'].apply(lambda x: change(x))
processed

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time,new_oper
13978,33908991,2,4,5,3/2/2015 23:54:01,1069800109030188,903,0,JAVA语言(新),NaN,202.117.16.130,1422978841,tag
13979,33908994,2,75,5,3/2/2015 23:54:09,1069800109030188,903,0,Java数据类型及转换,NaN,202.117.16.130,1422978849,done
13980,33909007,2,76,5,3/2/2015 23:54:16,1069800109030188,903,6,Java数据类型及转换,NaN,202.117.16.130,1422978856,duration
1670,18473431,3,1,5,1/8/2014 11:19:48,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863188,watch
1671,18473433,3,1,5,1/8/2014 11:20:02,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863202,watch
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17313,37070739,2,76,5,15/4/2015 15:34:13,1069850614030038,1403,79,Java语言背景,1.0,121.9.250.3,1429083253,duration
17314,37070744,2,77,5,15/4/2015 15:34:15,1069850614030038,1403,0,Java语言背景,1.0,121.9.250.3,1429083255,tag
17315,37071080,2,76,5,15/4/2015 15:36:33,1069850614030038,1403,141,Java语言背景,1.0,61.142.248.66,1429083393,duration
17318,37074841,2,75,5,15/4/2015 16:00:13,1069850614030038,1403,0,网络通信基础,1.0,61.142.248.66,1429084813,done
17327,37076993,2,76,5,15/4/2015 16:13:21,1069850614030038,1403,787,网络通信基础,1.0,61.142.248.66,1429085601,duration

In [12]:
processed['new_oper'].value_counts()

tag         39314
done         9564
duration     6185
enter        6019
watch        3436
Name: new_oper, dtype: int64

In [125]:
java = processed[processed['courseid']==5]
java = java[['stuno','courseid','oper','title','new_oper','time','tlen']]
java

,stuno,courseid,oper,title,new_oper,time,tlen
13978,1069800109030188,5,4,JAVA语言(新),tag,1422978841,0
13979,1069800109030188,5,75,Java数据类型及转换,done,1422978849,0
13980,1069800109030188,5,76,Java数据类型及转换,duration,1422978856,6
1670,1069800109030205,5,1,Java语言背景,watch,1406863188,0
1671,1069800109030205,5,1,Java语言背景,watch,1406863202,0
...,...,...,...,...,...,...,...
17313,1069850614030038,5,76,Java语言背景,duration,1429083253,79
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17315,1069850614030038,5,76,Java语言背景,duration,1429083393,141
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0
17327,1069850614030038,5,76,网络通信基础,duration,1429085601,787

In [119]:
java[java['title'].str.contains('作业')]

,stuno,courseid,oper,title,new_oper,time,tlen
4264,1069800111030041,5,67,《JAVA语言》（王志文）最终版(纸质作业集电子版),watch,1413877751,0
5255,1069800111030041,5,70,JAVA语言 14年秋离线作业,enter,1414994882,0
5256,1069800111030041,5,71,JAVA语言 14年秋离线作业 《JAVA语言》离线作业1题目10698001110300...,done,1414994895,0
19332,1069800111030041,5,67,《JAVA语言》离线作业3答案,watch,1429684938,0
5164,1069800113030046,5,68,JAVA语言 14年秋离线作业 2014年秋季离线作业已经上线，作业时间为2014年10月...,enter,1414855835,0
...,...,...,...,...,...,...,...
4612,1069850614030038,5,67,《JAVA语言》（王志文）最终版(纸质作业集电子版),watch,1414366854,0
5304,1069850614030038,5,67,《JAVA语言》（王志文）最终版(纸质作业集电子版),watch,1415064457,0
6960,1069850614030038,5,67,JAVA语言 离线作业答案,watch,1415934335,0
6961,1069850614030038,5,70,JAVA语言 14年秋离线作业,enter,1415934808,0
6962,1069850614030038,5,71,JAVA语言 14年秋离线作业 《JAVA语言》离线作业1题目10698506140300...,done,1415934818,0

In [124]:
def change_hm1(x):
    if '离线作业1' in x:
        return "离线作业1"
    elif '离线作业3' in x:
        return "离线作业3"
    else:
        return x

In [131]:
def change_hm2(x):
    if '14年秋离线作业' in x:
        return '14年秋离线作业'
    else:
        return x

In [ ]:
java['new_title'] = java['title'].apply(lambda x: change_hm1(x))

In [134]:
java['new_title'] = java['new_title'].apply(lambda x: change_hm2(x))
set(java['new_title'].values)

{'14年秋离线作业',
 '2014年春季期末考前辅导答疑安排',
 '2014年春季辅导导学计划',
 '2014年秋季期末考前辅导答疑安排',
 '2014年秋季期末考试考前在线答疑辅导',
 '5',
 '?',
 'AWT组件',
 'Applet多媒体操作',
 'Applet标签参数',
 'Applet程序执行',
 'Applet程序结构',
 'Applet绘图操作',
 'GUI基础',
 'I/O流分类',
 'JAVA语言',
 'JAVA语言  离线作业答案',
 'JAVA语言 :  JAVA和C语言多维数组的实质是什么？有什么区别？',
 'JAVA语言 :  下列代码中，将引起编译错误的行是_B__??public?class?Exercise{?????public?static?void?main(String?args[]){???  ???float?f=0.0;?????????f =1.0;?????    ???}??? ?}?? A.第2行?????B.第3行??????C.第4行?????D.第6行这题中 f 和 f   有什么区别？',
 'JAVA语言 :  下面程序对数组中每个元素赋值，然后按逆序输出。请在横线处填入适当内容，使程序 能正常运行.  import java.io.*;  public class ArrayTest{                  public static void main(String args[]){                        int i;                         int a[] = new int[5];                         for(i=0;i<5;i  )                                a[i]=i;                         for(                   )                                System.out.println("a["   i   "]="   a[i]);              }     }',
 'JAVA语言 :  使用一个名为?MyPackage?的包，必需用语句??import?MyPackage;??将包引入，老师这个对吗？',
 'JAVA语言 :  写出下面程序的运行结果?import?java.io.*?public?class?abc{?      public??static??void???main(String??args[?])?{??????        SubSubClass?obj?=?new?SubSubClass(20,?30,?40);??obj.show();?       } ?}?class?SuperClass{??         int?a,?b;?        ?SuperClass(int?aa,?int?bb){???                a?=?aa;??b?=?bb;     ??}? }?class?SubClass?extends?SuperClass{???         int?c;????    ?SubClass(int??aa,int??bb,int??cc){???            ?super(aa,bb);???????          ?c=cc;??     ???}?? }??class?SubS...',
 'JAVA语言 :  线程生命周期中正确的状态是?（???）?????A．新建状态、运行状态和死亡状态????B．新建状态、运行状态、阻塞状态和死亡状态????C．新建状态、就绪状态、运行状态、阻塞状态和死亡状态?????   D．新建状态、就绪状态、运行状态、恢复状态和死亡状态',
 'JAVA语言 :  阅读下面的代码片断(1)?String?str?=?null;?(2)?if?((str?!=?null)',
 'JAVA语言(新)',
 'JAVA语言(简版)',
 'JAVA语言-学习指南',
 'JAVA语言学习指南',
 'JAVA语言课件，怎么能下载下来？',
 'JAVA语言课件，怎么能下载下来？ :  JAVA语言课件，怎么能下载下来？有时候上班看不了，回家去看，怎么能下载下来看视频。',
 'Java',
 'Java Applet',
 'Java?',
 'Java??',
 'JavaJDK',
 'Java分支语句',
 'Java变量',
 'Java基本网络类',
 'Java常量',
 'Java平台',
 'Java应用程序',
 'Java开发环境与JDK',
 'Java异常基础',
 'Java循环语句',
 'Java成员变量',
 'Java成员方法',
 'Java数据类型及转换',
 'Java程序符号',
 'Java类定义',
 'Java表达式',
 'Java语言',
 'Java语言 :  计算 1/1 1/2 1/3 ... 1/100 的值  public  class   Sum   {  public  static  void   main( String  args[ ])          {   double   sum = 0.0                     for  ( int  i = 1   i <= 100  i     )                            sum  = 1.0/(double) i               System.out.println( "sum=" sum );           }  }请问老师这样编写有问题吗？',
 'Java语言特点',
 'Java语言背景',
 'Java跳转语句',
 'Java运算符',
 'String',
 'StringBuffer',
 'StringTokenizer',
 'TCP',
 'TCP通信',
 'UDP通信',
 'URL通信',
 'java语言',
 'java语言 :  int 和 Integer 有什么区别？',
 'java语言 :  java是一个网络编程语言，简单易学，利用了____的技术基础，但又独立于硬件结构，具有可移植性、健壮性、安全性、高性能。',
 'java语言(新)',
 'this对象',
 '《2014年（春）07月课程导学》之三十四',
 '《2014年（春）08月课程导学》之三十七',
 '《2014年（春）08月课程导学》之三十六',
 '《2014年（春）09月课程导学》之三十九',
 '《2014年（春）09月课程导学》之三十九 :  《2014年（春）09月课程导学》之三十九《2014年（春）09月课程导学》之三十九',
 '《2014年（春）10月课程导学》之四十七',
 '《2014年（春）10月课程导学》之四十三',
 '《2014年（春）10月课程导学》之四十五',
 '《2014年（春）10月课程导学》之四十八',
 '《2014年（春）10月课程导学》之四十六',
 '《2014年（春）10月课程导学》之四十四',
 '《2014年（春）11月课程导学》之五十',
 '《2014年（春）11月课程导学》之五十一',
 '《2014年（春）11月课程导学》之四十九',
 '《2014年（秋）12月课程导学》之五十七',
 '《2014年（秋）12月课程导学》之五十五',
 '《2014年（秋）12月课程导学》之五十八',
 '《2014年（秋）12月课程导学》之五十六',
 '《JAVA语言》',
 '《JAVA语言》2015春离线作业',
 '《JAVA语言》2015春离线作业  本作业为2015年春季离线作业，请同学们认真、按时完成。',
 '《JAVA语言》作业集怎么没有参考答案呢 :  《JAVA语言》作业集怎么没有参考答案呢',
 '《JAVA语言》（王志文）最终版(纸质作业集电子版)',
 '一维数组',
 '关于2013秋季1309批次高起专  计算机科学与技术专业作业集疑问',
 '关于视频课件不能下载和观看的问题',
 '关于视频课件的说明',
 '其运行的结果',
 '其运行的结果 :  import   java.io.*       public  class  abc      {                public  static  void   main(String  args[ ])               {  SubSubClass  x = new  SubSubClass(10 , 20 , 30);                       x.show();                    }      }      class  SuperClass      {   int  a,b;              SuperClass(int aa , int  bb)                    {  a=aa;  b=bb;  }             void  show( )                     {  System.out.println("a=" a "\\nb=" b);  }      }        class   SubClass   extends  ...',
 '回复: 2014年秋季期末考试考前在线答疑辅导 :  1）如何在Java程序中实现多线程？答案：在Java程序中实现多线程最关键是要定义子线程的操作，即定义子线程的run( )方法。具体可以通过派生Thread类的子类或实现Runnable接口两种方式来实现。2）    当try块发出一个异常时，在模块中构造的动态对象会出现什么情况？当一个catch处理程序发出一个异常时，会出现什么情况？答案：对象会被标记为垃圾进行收集，在对象被垃圾收集之前会调用各个对象的finalizer。与一个try块相联系的catch处理程序（如果存在的话）会处理这个异常，该try块（如果存在）包含了引起异常的catch处理程序。3）    Java有那些基本数据?类型写出int型所能表达的最大、最小数据。答案：Java的基本数据类型包括：布尔型、字节型、字符型、短整型、整型、长整型、浮点型、双精度型。Int型所能表达的最大数据为2147483647，最小数据为-2147482648。4）Java语言特征包括哪些？答案：Java的技术特点：简明的语法结构、平台独立性、面向对象特征、面向网络环境、动态性、安全性、稳定性、多线程、类库丰富。5...',
 '回复: 积分只有课件点击积分，论坛错误提示 :  oooooo',
 '回复: 老师您好！ :  嗯，明白，谢谢老师。',
 '回复：《2014年（春）10月课程导学》之四十七 :  (1)用Socket类建立客户到服务器的套接字的对象:Socket(String host,int port)          (2)用ServerSocket建立接受客户套接字的服务器套接字对象:ServerSocket(int port)客户端与服务器端的端口号相同 (3)客户端服务器对象调用方法accept()接受客户的套接字。创建客户端套接字对象,服务器端套接字对象和调用方法accept()时都可能产生IOException,所以需对例外进行处理',
 '回复：《2014年（春）10月课程导学》之四十八 :  1．下列语句正确的是（A）\u3000\u3000A．形式参数可被视为local variable\u3000\u3000B．形式参数可被字段修饰符修饰\u3000\u3000C．形式参数为方法被调用时，真正被传递的参数\u3000\u3000D．形式参数不可以是对象2．下列哪种说法是正确的（D）\u3000\u3000A．实例方法可直接调用超类的实例方法\u3000\u3000B．实例方法可直接调用超类的类方法\u3000\u3000C．实例方法可直接调用其他类的实例方法\u3000\u3000D．实例方法可直接调用本类的类方法',
 '回复：《2014年（春）10月课程导学》之四十六 :  1．下列语句哪一个正确（B ）\u3000\u3000A． Java程序经编译后会产生machine code\u3000\u3000B． Java程序经编译后会产生byte code\u3000\u3000C． Java程序经编译后会产生DLL\u3000\u3000D．以上都不正确2．下列说法正确的有（c）\u3000\u3000A． class中的constructor不可省略\u3000\u3000B． constructor必须与class同名，但方法不能与class同名\u3000\u3000C． constructor在一个对象被new时执行\u3000\u3000D．一个class只能定义一个constructor',
 '回复：《2014年（春）11月课程导学》之五十 :  超类对象变量可以引用子类对象，子类对象变量不能引用超类对象，好像是这样吧。',
 '回复：《2014年（春）11月课程导学》之五十一 :  向量的元素个数可以动态地增减，而数组不行。前者适合于远素个数动态改变的场合，后者则适合于元素个娄不变的场合。',
 '回复：《2014年（春）11月课程导学》之四十九 :  当然可以可以用_onexit 注册一个函数，它会在main 之后执行int fn1(void), fn2(void), fn3(void), fn4 (void);void main( void ){String str("zhanglin");_onexit( fn1 );_onexit( fn2 );_onexit( fn3 );_onexit( fn4 );printf( "This is executed first.\\n" );}int fn1(){printf( "next.\\n" );return 0;}int fn2(){printf( "executed " );return 0;}int fn3(){printf( "is " );return 0;}int fn4(){printf( "This " );return 0;}The _onexit function is passed the address of a function (fu...',
 '回复：《JAVA语言》 :  上次考试，分数什么时候出来？上面写着是“最近一次课程考试成绩发布20天后”，我现在都没看到，是什么情况',
 '回复：每科需累积多少积分才能保证成绩合格，拿到学分？ :  每科积分是多少？',
 '基于授权的事件处理',
 '基于继承的事件处理',
 '声明与抛掷异常',
 '多线程程序执行结果',
 '多维数组',
 '子类继承特性',
 '字符集',
 '学习指南下载方法',
 '学习进度',
 '学习进度 :  学习进度，应该是每天完成多少呢，为什么我的是0分？',
 '学分怎么算及格？满分多少分啊',
 '容器组件',
 '对象操作',
 '对象流',
 '布局管理',
 '布局管理器',
 '异常处理器',
 '异常概念',
 '微动“信”——学院微信AI启用',
 '接口',
 '播放器问题',
 '教师您好！',
 '教师您好！ :  每门课程的课程积分需要积到多少分，学习进度[已经获得的学分]才都会变？',
 '文件读写',
 '新平台FAQ',
 '无法打开课件，一点击就默认下载',
 '有什么方法可以多开，而且又能算分？',
 '有谁知道多少分才能算修完一科？谢谢！',
 '构造方法与抽象类',
 '核心GUI类',
 '每科需累积多少积分才能保证成绩合格，拿到学分？',
 '流的概念',
 '生产者--消费者问题',
 '目录操作',
 '看了很久结果没积分',
 '看了很久结果没积分 :  看了很久结果没积分',
 '看视频的积份是怎么计算的？',
 '离线作业1',
 '离线作业3',
 '离线作业怎么交 我已经超过规定时间了',
 '离线作业怎么做呢？是下载下来做好呢，上传电子版呢？还是做好打印出来上交？交到哪呢？',
 '积分不够怎么办？',
 '积分只有课件点击积分，论坛错误提示',
 '积分只有课件点击积分，论坛错误提示 :  这两天看了好多视频，都是播放完成的，但是第二天只有点击积分。。求解。进到论坛就有弹出警告窗口提示： “findobj is not defined”..求解决。',
 '积分累加不正常',
 '程序包',
 '第01讲',
 '第02讲',
 '第03讲',
 '第19讲',
 '第51讲',
 '第54讲',
 '第59讲',
 '类的基本特征',
 '线程创建方法',
 '线程生命周期',
 '线程调度',
 '线程间的资源互斥共享',
 '网络通信基础',
 '老师一定有什么原因的~！',
 '老师您好,这题对吗？',
 '老师您好,这题对吗？ :  在 Java的异常处理语句try-catch-final 中，以下描述正确的是   (B)  A. try后面是可能产生异常的代码，catch后面是捕获到某种异常对象时进行处理的代码，final后面是没有捕获到异常时要执行的代码 B. try后面是可能产生异常的代码，catch后面是捕获到某种异常对象时进行处理的代码，final后面是无论是否捕获到异常都必须执行的代码 C. catch 语句和final语句都可以缺省 D. catch 语句用来处理程序运行时的非致命性错误，而final语句用来处理程序运行时的致命性错误',
 '老师您好！',
 '老师您好！ :  每门课程的课程积分需要积到多少分，学习进度[已经获得的学分]才都会变？',
 '老师您好，如何编写程序？',
 '老师您好，如何编写程序？ :  两个乒乓球队进行比赛，各出三个人。甲队为a，b，c三人，乙队为x，y，z三人，已抽签决定名单。有人向队员打听比赛名单。a说他不和x比，c说他不和x,z比，请编写程序找出三队赛手的名单。',
 '老师求JAVA考试复习资料啊！',
 '老师，请问',
 '自定义异常',
 '菜单组件',
 '计算机的发展',
 '课件怎么看？ :  课件点击不成功，看不了课件？',
 '课程复习',
 '课程资源',
 '课程资源 :  关于已修的课程，请问老师有没有打包好的课程资源，能否给我共享共享',
 '这个发帖要怎么积分的??',
 '进程与线程',
 '重要通知 2013春季起实行平台自动评定平时成绩课程目录',
 '重要通知 2013春季起实行平台自动评定平时成绩课程目录 :  重要通知 2013春季起实行平台自动评定平时成绩课程目录',
 '重要通知 2013春季起实行平台自动评定平时成绩课程目录 :  重要通知 2013春季起实行平台自动评定平时成绩课程目录重要通知 2013春季起实行平台自动评定平时成绩课程目录',
 '面向对象基础',
 '面向对象程序设计》'}

In [130]:
set(java[java['new_title'].str.contains('作业')]['new_title'].values)

{'JAVA语言  离线作业答案',
 'JAVA语言 14年秋离线作业',
 'JAVA语言 14年秋离线作业  2014年秋季离线作业已经上线，作业时间为2014年10月10日——2014年11月25日。请同学及时下载、按时完成。',
 'JAVA语言 14年秋离线作业  JAVA语言 14年离线作业.doc --> 1069803013030062_2103213618.doc',
 'JAVA语言 14年秋离线作业  JAVA语言.doc --> 1069815913030139_2103213618.doc',
 'JAVA语言 14年秋离线作业  JAVA语言14年离线作业.doc --> 1069803013030062_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》倪帅.doc --> 1069804813090193_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》曾宇阳.doc --> 1069804813090208_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》梁扉.doc --> 1069804813090201_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》王宁.doc --> 1069804813090202_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业.doc --> 1069800113030200_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业.doc --> 1069815913090023_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业.doc --> 1069816513030174_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业张衍.doc --> 1069804814030109_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业朱丁杰.doc --> 1069804814030112_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业马晓栋.doc --> 1069804813090332_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》离线作业，李灏.doc --> 1069804814030044_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》黄飞.doc --> 1069804814030091_2103213618.doc',
 'JAVA语言 14年秋离线作业  《JAVA语言》（王志文）最终版.doc --> 1069815813090081_2103213618.doc',
 'JAVA语言 14年秋离线作业  新建 Microsoft Word 文档 (2).doc --> 1069817013030002_2103213618.doc',
 'JAVA语言 14年秋离线作业  新建 Microsoft Word 文档.docx --> 1069811613030069_2103213618.docx',
 'JAVA语言 14年秋离线作业  玉晓聪.doc --> 1069834514030207_2103213618.doc',
 '《JAVA语言》2015春离线作业',
 '《JAVA语言》2015春离线作业  本作业为2015年春季离线作业，请同学们认真、按时完成。',
 '《JAVA语言》作业集怎么没有参考答案呢 :  《JAVA语言》作业集怎么没有参考答案呢',
 '《JAVA语言》（王志文）最终版(纸质作业集电子版)',
 '关于2013秋季1309批次高起专  计算机科学与技术专业作业集疑问',
 '回复：求：JAVA语言 14年秋离线作业 参考答案 :  学习平台上就有',
 '求：JAVA语言 14年秋离线作业 参考答案',
 '求：JAVA语言 14年秋离线作业 参考答案 :  JAVA语言 14年秋离线作业 参考答案:handshake',
 '离线作业1',
 '离线作业3',
 '离线作业怎么交 我已经超过规定时间了',
 '离线作业怎么做呢？是下载下来做好呢，上传电子版呢？还是做好打印出来上交？交到哪呢？'}

In [98]:
java[java['title'].str.contains('作业')].nunique()

stuno        292
courseid       1
oper           8
title        519
new_oper       3
time        2292
tlen           1
dtype: int64

In [54]:
java['stuno'].nunique()

469

In [25]:
temp = java.groupby('stuno').count().sort_values(by = ['oper'], ascending=False)
temp

                  courseid  oper  title  new_oper  time  tlen
stuno
1069800109030205       468   468    468       468   468   468
1069816014030259       274   274    274       274   274   274
1069809114030236       268   268    268       268   268   268
1069809113090411       220   220    220       220   220   220
1069811513030184       211   211    211       211   211   211
...                    ...   ...    ...       ...   ...   ...
1069832713090384         1     1      1         1     1     1
1069832614090196         1     1      1         1     1     1
1069805714030166         1     1      1         1     1     1
1069828211030020         1     1      1         1     1     1
1069815912090140         1     1      1         1     1     1

[469 rows x 6 columns]

In [ ]:
list(java[java['stuno']==1069811513030184]['new_oper'])

In [ ]:
list(java[java['stuno']==1069811513030184]['title'])

In [31]:
java['title'].nunique()

698

In [44]:
no_hm = java[~java['title'].str.contains('作业')]
no_hm

,stuno,courseid,oper,title,new_oper,time,tlen
13978,1069800109030188,5,4,JAVA语言(新),tag,1422978841,0
13979,1069800109030188,5,75,Java数据类型及转换,done,1422978849,0
13980,1069800109030188,5,76,Java数据类型及转换,duration,1422978856,6
1670,1069800109030205,5,1,Java语言背景,watch,1406863188,0
1671,1069800109030205,5,1,Java语言背景,watch,1406863202,0
...,...,...,...,...,...,...,...
17313,1069850614030038,5,76,Java语言背景,duration,1429083253,79
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17315,1069850614030038,5,76,Java语言背景,duration,1429083393,141
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0
17327,1069850614030038,5,76,网络通信基础,duration,1429085601,787

In [41]:
no_hm_count = no_hm.groupby('stuno').count().sort_values(by = ['oper'], ascending=False)
no_hm_count

                  courseid  oper  title  new_oper  time  tlen
stuno
1069800109030205       468   468    468       468   468   468
1069809114030236       263   263    263       263   263   263
1069816014030259       255   255    255       255   255   255
1069809113090411       220   220    220       220   220   220
1069811513030184       203   203    203       203   203   203
...                    ...   ...    ...       ...   ...   ...
1069817212090139         1     1      1         1     1     1
1069805612090211         1     1      1         1     1     1
1069805613030252         1     1      1         1     1     1
1069805613030425         1     1      1         1     1     1
1069816014030849         1     1      1         1     1     1

[421 rows x 6 columns]

In [37]:
no_hm.describe()

         courseid        oper       title    new_oper        time        tlen
count  421.000000  421.000000  421.000000  421.000000  421.000000  421.000000
mean    22.261283   22.261283   22.261283   22.261283   22.261283   22.261283
std     41.698100   41.698100   41.698100   41.698100   41.698100   41.698100
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
50%      4.000000    4.000000    4.000000    4.000000    4.000000    4.000000
75%     25.000000   25.000000   25.000000   25.000000   25.000000   25.000000
max    468.000000  468.000000  468.000000  468.000000  468.000000  468.000000

In [61]:
no_hm[no_hm['stuno'].isin(no_hm_count[no_hm_count['oper']==3].index)]

,stuno,courseid,oper,title,new_oper,time,tlen
13978,1069800109030188,5,4,JAVA语言(新),tag,1422978841,0
13979,1069800109030188,5,75,Java数据类型及转换,done,1422978849,0
13980,1069800109030188,5,76,Java数据类型及转换,duration,1422978856,6
8714,1069800112030102,5,4,JAVA语言(新),tag,1416667335,0
8715,1069800112030102,5,75,Java平台,done,1416667357,0
...,...,...,...,...,...,...,...
4323,1069832213090086,5,75,Java语言背景,done,1413899994,0
4324,1069832213090086,5,75,Java语言背景,done,1413899996,0
16421,1069832613090071,5,4,JAVA语言(新),tag,1427514799,0
16422,1069832613090071,5,75,一维数组,done,1427514828,0
16423,1069832613090071,5,76,一维数组,duration,1427516397,1458

In [46]:
pro_java = no_hm[no_hm['stuno'].isin(no_hm_count[no_hm_count['oper']>=4].index)]
pro_java

                  stuno  courseid  oper     title  new_oper        time  tlen
1670   1069800109030205         5     1  Java语言背景     watch  1406863188     0
1671   1069800109030205         5     1  Java语言背景     watch  1406863202     0
1672   1069800109030205         5     1   Java运算符     watch  1406863228     0
1673   1069800109030205         5     1   Java运算符     watch  1406863244     0
1674   1069800109030205         5     1  Java语言背景     watch  1406863285     0
...                 ...       ...   ...       ...       ...         ...   ...
17313  1069850614030038         5    76  Java语言背景  duration  1429083253    79
17314  1069850614030038         5    77  Java语言背景       tag  1429083255     0
17315  1069850614030038         5    76  Java语言背景  duration  1429083393   141
17318  1069850614030038         5    75    网络通信基础      done  1429084813     0
17327  1069850614030038         5    76    网络通信基础  duration  1429085601   787

[9068 rows x 7 columns]

In [64]:
del_java = pro_java.drop_duplicates(subset=['stuno','title','new_oper'], keep='last')
del_java

,stuno,courseid,oper,title,new_oper,time,tlen
1673,1069800109030205,5,1,Java运算符,watch,1406863244,0
2665,1069800109030205,5,60,《2014年（春）08月课程导学》之三十七,watch,1410862720,0
2699,1069800109030205,5,75,StringTokenizer,done,1410874261,0
2700,1069800109030205,5,75,Java Applet,done,1410874265,0
2701,1069800109030205,5,76,Java Applet,duration,1410874275,8
...,...,...,...,...,...,...,...
17312,1069850614030038,5,75,Java语言背景,done,1429083169,0
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17315,1069850614030038,5,76,Java语言背景,duration,1429083393,141
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0
17327,1069850614030038,5,76,网络通信基础,duration,1429085601,787

In [66]:
del_java[del_java['stuno']==1069800113030167]

,stuno,courseid,oper,title,new_oper,time,tlen
6027,1069800113030167,5,4,JAVA语言(新),tag,1415533240,0
6034,1069800113030167,5,75,Java语言背景,done,1415533253,0
6035,1069800113030167,5,76,Java语言背景,duration,1415533253,8
6036,1069800113030167,5,67,JAVA语言-学习指南,watch,1415533299,0
16414,1069800113030167,5,67,JAVA语言学习指南,watch,1427458885,0

In [67]:
del_java[del_java['stuno']==1069833713090055]

,stuno,courseid,oper,title,new_oper,time,tlen
16489,1069833713090055,5,75,Java语言背景,done,1427595001,0
16491,1069833713090055,5,76,Java语言背景,duration,1427597220,1111
16492,1069833713090055,5,75,Java语言特点,done,1427597239,0
16493,1069833713090055,5,76,Java语言特点,duration,1427598634,1393
16587,1069833713090055,5,75,Java平台,done,1427611343,0
16588,1069833713090055,5,76,Java平台,duration,1427612345,996
16589,1069833713090055,5,75,Java开发环境与JDK,done,1427612352,0
16591,1069833713090055,5,76,Java开发环境与JDK,duration,1427614700,2315
16593,1069833713090055,5,78,Java应用程序,tag,1427614716,0
16594,1069833713090055,5,75,Java应用程序,done,1427614717,0
16595,1069833713090055,5,76,Java应用程序,duration,1427616979,2118
16596,1069833713090055,5,75,Java程序符号,done,1427616989,0
16597,1069833713090055,5,76,Java程序符号,duration,1427618093,1100
675,1069833713090055,5,4,JAVA语言(新),tag,1427967670,0
677,1069833713090055,5,75,Java数据类型及转换,done,1427967681,0
701,1069833713090055,5,76,Java数据类型及转换,duration,1427968846,1155

In [47]:
pro_java.groupby('stuno').count().describe()

         courseid        oper       title    new_oper        time        tlen
count  233.000000  233.000000  233.000000  233.000000  233.000000  233.000000
mean    38.918455   38.918455   38.918455   38.918455   38.918455   38.918455
std     50.230994   50.230994   50.230994   50.230994   50.230994   50.230994
min      4.000000    4.000000    4.000000    4.000000    4.000000    4.000000
25%      6.000000    6.000000    6.000000    6.000000    6.000000    6.000000
50%     22.000000   22.000000   22.000000   22.000000   22.000000   22.000000
75%     59.000000   59.000000   59.000000   59.000000   59.000000   59.000000
max    468.000000  468.000000  468.000000  468.000000  468.000000  468.000000

In [48]:
pro_java.groupby('stuno').count()

                  courseid  oper  title  new_oper  time  tlen
stuno
1069800109030205       468   468    468       468   468   468
1069800111030041         5     5      5         5     5     5
1069800113030103        55    55     55        55    55    55
1069800113030167        12    12     12        12    12    12
1069800113030183        95    95     95        95    95    95
...                    ...   ...    ...       ...   ...   ...
1069833713090055        20    20     20        20    20    20
1069834414030194        11    11     11        11    11    11
1069834514030207        68    68     68        68    68    68
1069834614030046         4     4      4         4     4     4
1069850614030038        12    12     12        12    12    12

[233 rows x 6 columns]

In [49]:
pro_java[pro_java['stuno']==1069834614030046]

,stuno,courseid,oper,title,new_oper,time,tlen
2510,1069834614030046,5,2,Java语言背景,duration,1410361547,15
2511,1069834614030046,5,1,Java Applet,watch,1410361604,0
2512,1069834614030046,5,2,Java Applet,duration,1410361631,13
2869,1069834614030046,5,60,《2014年（春）09月课程导学》之三十九,watch,1411123740,0

In [51]:
pro_java[pro_java['stuno']==1069800113030167]

,stuno,courseid,oper,title,new_oper,time,tlen
6027,1069800113030167,5,4,JAVA语言(新),tag,1415533240,0
6028,1069800113030167,5,76,Java语言背景,duration,1415533249,2728
6029,1069800113030167,5,76,Java语言背景,duration,1415533250,0
6030,1069800113030167,5,75,Java语言背景,done,1415533251,0
6031,1069800113030167,5,75,Java语言背景,done,1415533251,0
6032,1069800113030167,5,75,Java语言背景,done,1415533252,0
6033,1069800113030167,5,75,Java语言背景,done,1415533253,0
6034,1069800113030167,5,75,Java语言背景,done,1415533253,0
6035,1069800113030167,5,76,Java语言背景,duration,1415533253,8
6036,1069800113030167,5,67,JAVA语言-学习指南,watch,1415533299,0
16413,1069800113030167,5,67,JAVA语言学习指南,watch,1427458680,0
16414,1069800113030167,5,67,JAVA语言学习指南,watch,1427458885,0

In [52]:
pro_java[pro_java['stuno']==1069833713090055]

,stuno,courseid,oper,title,new_oper,time,tlen
16425,1069833713090055,5,4,JAVA语言(新),tag,1427525113,0
16488,1069833713090055,5,4,JAVA语言(新),tag,1427594988,0
16489,1069833713090055,5,75,Java语言背景,done,1427595001,0
16491,1069833713090055,5,76,Java语言背景,duration,1427597220,1111
16492,1069833713090055,5,75,Java语言特点,done,1427597239,0
16493,1069833713090055,5,76,Java语言特点,duration,1427598634,1393
16586,1069833713090055,5,4,JAVA语言(新),tag,1427611331,0
16587,1069833713090055,5,75,Java平台,done,1427611343,0
16588,1069833713090055,5,76,Java平台,duration,1427612345,996
16589,1069833713090055,5,75,Java开发环境与JDK,done,1427612352,0
16591,1069833713090055,5,76,Java开发环境与JDK,duration,1427614700,2315
16592,1069833713090055,5,75,Java应用程序,done,1427614715,0
16593,1069833713090055,5,78,Java应用程序,tag,1427614716,0
16594,1069833713090055,5,75,Java应用程序,done,1427614717,0
16595,1069833713090055,5,76,Java应用程序,duration,1427616979,2118
16596,1069833713090055,5,75,Java程序符号,done,1427616989,0
16597,1069833713090055,5,76,Java程序符号,duration,1427618093,1100
675,1069833713090055,5,4,JAVA语言(新),tag,1427967670,0
677,1069833713090055,5,75,Java数据类型及转换,done,1427967681,0
701,1069833713090055,5,76,Java数据类型及转换,duration,1427968846,1155

In [53]:
pro_java['stuno'].nunique()

233

In [69]:
#读入数据
import pandas as pd
data = pd.read_csv('wangyuan_original.csv')

import time
data['time'] = data['rtime'].apply(lambda x: int(time.mktime(time.strptime(x, "%d/%m/%Y %H:%M:%S"))))

processed = data[~data['title'].isnull()]
processed.sort_values(by=['stuno', 'time'], ascending=True, inplace=True)

def change(x):
    if x in [60,65,67,72,1]:
        return 'watch'
    elif x in [4,78,79,77,58]:
        return 'tag'
    elif x in [75,71,56,57]:
        return 'done'
    elif x in [62,64,68,69,70]:
        return 'enter'
    else:
        return 'duration'
processed['new_oper'] = processed['oper'].apply(lambda x: change(x))
processed

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/opt/conda/envs/KT_RL/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time,new_oper
13978,33908991,2,4,5,3/2/2015 23:54:01,1069800109030188,903,0,JAVA语言(新),NaN,202.117.16.130,1422978841,tag
13979,33908994,2,75,5,3/2/2015 23:54:09,1069800109030188,903,0,Java数据类型及转换,NaN,202.117.16.130,1422978849,done
13980,33909007,2,76,5,3/2/2015 23:54:16,1069800109030188,903,6,Java数据类型及转换,NaN,202.117.16.130,1422978856,duration
1670,18473431,3,1,5,1/8/2014 11:19:48,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863188,watch
1671,18473433,3,1,5,1/8/2014 11:20:02,1069800109030205,903,0,Java语言背景,NaN,202.117.10.53,1406863202,watch
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17313,37070739,2,76,5,15/4/2015 15:34:13,1069850614030038,1403,79,Java语言背景,1.0,121.9.250.3,1429083253,duration
17314,37070744,2,77,5,15/4/2015 15:34:15,1069850614030038,1403,0,Java语言背景,1.0,121.9.250.3,1429083255,tag
17315,37071080,2,76,5,15/4/2015 15:36:33,1069850614030038,1403,141,Java语言背景,1.0,61.142.248.66,1429083393,duration
17318,37074841,2,75,5,15/4/2015 16:00:13,1069850614030038,1403,0,网络通信基础,1.0,61.142.248.66,1429084813,done
17327,37076993,2,76,5,15/4/2015 16:13:21,1069850614030038,1403,787,网络通信基础,1.0,61.142.248.66,1429085601,duration

In [71]:
# 获取处理后的java数据
java = processed[processed['courseid']==5]
java = java[['stuno','courseid','oper','title','new_oper','time','tlen']]
no_hm = java[~java['title'].str.contains('作业')]
no_hm.drop_duplicates(subset=['stuno','title','new_oper'], keep='last', inplace=True)
no_hm_count = no_hm.groupby('stuno').count().sort_values(by = ['oper'], ascending=False)
pro_java = no_hm[no_hm['stuno'].isin(no_hm_count[no_hm_count['oper']>=4].index)]
pro_java

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,stuno,courseid,oper,title,new_oper,time,tlen
1673,1069800109030205,5,1,Java运算符,watch,1406863244,0
2665,1069800109030205,5,60,《2014年（春）08月课程导学》之三十七,watch,1410862720,0
2699,1069800109030205,5,75,StringTokenizer,done,1410874261,0
2700,1069800109030205,5,75,Java Applet,done,1410874265,0
2701,1069800109030205,5,76,Java Applet,duration,1410874275,8
...,...,...,...,...,...,...,...
17312,1069850614030038,5,75,Java语言背景,done,1429083169,0
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17315,1069850614030038,5,76,Java语言背景,duration,1429083393,141
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0
17327,1069850614030038,5,76,网络通信基础,duration,1429085601,787

删除重复的动作记录，java剩下2178条记录可用, 操作系统剩下4045条可用,计算机网络剩下3087条可用

In [72]:
# 获取处理后的os数据
os = processed[processed['courseid']==23]
os = os[['stuno','courseid','oper','title','new_oper','time','tlen']]
no_hm_os = os[~os['title'].str.contains('作业')]
no_hm_os.drop_duplicates(subset=['stuno','title','new_oper'], keep='last', inplace=True)
no_hm_os_count = no_hm_os.groupby('stuno').count().sort_values(by = ['oper'], ascending=False)
pro_os = no_hm_os[no_hm_os['stuno'].isin(no_hm_os_count[no_hm_os_count['oper']>=4].index)]
pro_os

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,stuno,courseid,oper,title,new_oper,time,tlen
72381,1069800109030205,23,4,操作系统原理(新),tag,1429497734,0
72382,1069800109030205,23,75,连续分配方式,done,1429497741,0
72386,1069800109030205,23,75,对换,done,1429497796,0
72387,1069800109030205,23,75,三级调度的概念及算法准则,done,1429497920,0
72399,1069800109030205,23,79,连续分配方式,tag,1429499516,412
...,...,...,...,...,...,...,...
21540,1069834615030039,23,76,系统安全的基本概念,duration,1428396833,1927
70221,1069850614030008,23,4,操作系统原理(新),tag,1428674222,0
70222,1069850614030008,23,75,单道和多道批处理系统,done,1428674265,0
70229,1069850614030008,23,76,单道和多道批处理系统,duration,1428677285,1638
70230,1069850614030008,23,78,单道和多道批处理系统,tag,1428677286,0

In [73]:
# 获取处理后的net数据
net = processed[processed['courseid']==182]
net = net[['stuno','courseid','oper','title','new_oper','time','tlen']]
no_hm_net = net[~net['title'].str.contains('作业')]
no_hm_net.drop_duplicates(subset=['stuno','title','new_oper'], keep='last', inplace=True)
no_hm_net_count = no_hm_net.groupby('stuno').count().sort_values(by = ['oper'], ascending=False)
pro_net = no_hm_net[no_hm_net['stuno'].isin(no_hm_net_count[no_hm_net_count['oper']>=4].index)]
pro_net

/opt/conda/envs/KT_RL/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,stuno,courseid,oper,title,new_oper,time,tlen
105590,1069800113030103,182,75,第13讲,done,1416668571,0
105607,1069800113030103,182,75,第07讲,done,1416669820,0
116150,1069800113030103,182,78,第02讲,tag,1420889289,0
116153,1069800113030103,182,76,第02讲,duration,1420889428,113
116154,1069800113030103,182,75,第02讲,done,1420889432,0
...,...,...,...,...,...,...,...
127058,1069850614030008,182,75,第01讲,done,1429539992,0
128149,1069850614030008,182,75,第02讲,done,1429624580,0
128487,1069850614030008,182,78,第03讲,tag,1429753275,138
128637,1069850614030008,182,4,计算机网络原理(新),tag,1429794648,0
128638,1069850614030008,182,75,第03讲,done,1429794803,0

In [77]:
processed[processed['courseid']==182]['title'].nunique()

1297

In [79]:
pro_java.to_csv('./processed/java.csv', index=False, header=True, sep='\t')
pro_net.to_csv('./processed/net.csv', index=False, header=True, sep='\t')
pro_os.to_csv('./processed/os.csv', index=False, header=True, sep='\t')

未处理前，计算机网络26222条交互记录，去掉‘作业’后，3629条记录，573个学生;删掉交互记录不足的学生后，余160个学生，3087条记录
未处理前，操作系统26620条交互记录，去掉‘作业’后，4621条记录，624个学生;删掉交互记录不足的学生后，余207个学生,4045条记录

In [80]:
net = processed[processed['courseid']==182]
net

,logid,platform,oper,courseid,rtime,stuno,batch,tlen,title,spid,ip,time,new_oper
118609,33981377,2,4,182,4/2/2015 23:45:28,1069800109030205,903,0,计算机网络原理(新),NaN,61.185.204.250,1423064728,tag
88948,19688143,2,67,182,21/10/2014 16:56:40,1069800111030041,1103,0,计算机网络原理 离线作业答案,1.0,36.103.13.67,1413881800,watch
88961,19692313,2,70,182,21/10/2014 17:29:58,1069800111030041,1103,0,计算机网络原理 14年秋离线作业,1.0,36.103.13.67,1413883798,enter
88962,19692454,2,71,182,21/10/2014 17:31:09,1069800111030041,1103,0,计算机网络原理 14年秋离线作业 《计算机网络原理》离线作业1 题目1069800111...,1.0,36.103.13.67,1413883869,done
97904,21887601,2,67,182,6/11/2014 11:22:42,1069800111030041,1103,0,计算机网络原理-学习指南,1.0,14.135.215.117,1415244162,watch
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128487,38255084,2,78,182,23/4/2015 09:41:15,1069850614030008,1403,138,第03讲,1.0,14.223.12.136,1429753275,tag
128637,38254694,2,4,182,23/4/2015 21:10:48,1069850614030008,1403,0,计算机网络原理(新),1.0,14.223.12.136,1429794648,tag
128638,38255085,2,75,182,23/4/2015 21:13:23,1069850614030008,1403,0,第03讲,1.0,14.223.12.136,1429794803,done
125292,37019449,2,68,182,15/4/2015 10:31:13,1069850614030038,1403,0,《计算机网络原理》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完成。,1.0,121.9.250.3,1429065073,enter
125293,37019457,2,69,182,15/4/2015 10:31:16,1069850614030038,1403,0,《计算机网络原理》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完...,1.0,121.9.250.3,1429065076,enter

In [82]:
no_hm_net

,stuno,courseid,oper,title,new_oper,time,tlen
118609,1069800109030205,182,4,计算机网络原理(新),tag,1423064728,0
97904,1069800111030041,182,67,计算机网络原理-学习指南,watch,1415244162,0
98699,1069800111030041,182,4,计算机网络原理(新),tag,1415330742,0
81988,1069800112090107,182,4,计算机网络原理(简版),tag,1411529498,0
81951,1069800112090159,182,4,计算机网络原理(简版),tag,1411527298,0
...,...,...,...,...,...,...,...
127058,1069850614030008,182,75,第01讲,done,1429539992,0
128149,1069850614030008,182,75,第02讲,done,1429624580,0
128487,1069850614030008,182,78,第03讲,tag,1429753275,138
128637,1069850614030008,182,4,计算机网络原理(新),tag,1429794648,0
128638,1069850614030008,182,75,第03讲,done,1429794803,0

In [81]:
no_hm_net_count

                  courseid  oper  title  new_oper  time  tlen
stuno
1069811614030017       122   122    122       122   122   122
1069817214030024        83    83     83        83    83    83
1069811213090125        76    76     76        76    76    76
1069800113090034        74    74     74        74    74    74
1069816513090067        70    70     70        70    70    70
...                    ...   ...    ...       ...   ...   ...
1069819912030311         1     1      1         1     1     1
1069819912030307         1     1      1         1     1     1
1069802011030044         1     1      1         1     1     1
1069817213090069         1     1      1         1     1     1
1069800109030205         1     1      1         1     1     1

[573 rows x 6 columns]

In [83]:
pro_net['stuno'].nunique()

160

In [88]:
pro_net

,stuno,courseid,oper,title,new_oper,time,tlen
105590,1069800113030103,182,75,第13讲,done,1416668571,0
105607,1069800113030103,182,75,第07讲,done,1416669820,0
116150,1069800113030103,182,78,第02讲,tag,1420889289,0
116153,1069800113030103,182,76,第02讲,duration,1420889428,113
116154,1069800113030103,182,75,第02讲,done,1420889432,0
...,...,...,...,...,...,...,...
127058,1069850614030008,182,75,第01讲,done,1429539992,0
128149,1069850614030008,182,75,第02讲,done,1429624580,0
128487,1069850614030008,182,78,第03讲,tag,1429753275,138
128637,1069850614030008,182,4,计算机网络原理(新),tag,1429794648,0
128638,1069850614030008,182,75,第03讲,done,1429794803,0

In [84]:
os

,stuno,courseid,oper,title,new_oper,time,tlen
31107,1069800109030205,23,4,操作系统原理(新),tag,1413168377,0
39109,1069800109030205,23,4,操作系统原理(新),tag,1414676465,0
56303,1069800109030205,23,4,操作系统原理(新),tag,1417764430,0
57004,1069800109030205,23,4,操作系统原理(新),tag,1418108319,0
60007,1069800109030205,23,4,操作系统原理(新),tag,1419327427,0
...,...,...,...,...,...,...,...
70229,1069850614030008,23,76,单道和多道批处理系统,duration,1428677285,1638
70230,1069850614030008,23,78,单道和多道批处理系统,tag,1428677286,0
71246,1069850614030038,23,68,《操作系统原理》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完成。,enter,1429065059,0
71247,1069850614030038,23,69,《操作系统原理》2015春离线作业 本作业为2015年春季离线作业，请同学们认真、按时完成...,enter,1429065064,0
71249,1069850614030038,23,4,操作系统原理(新),tag,1429065338,0

In [85]:
no_hm_os_count

                  courseid  oper  title  new_oper  time  tlen
stuno
1069800614030044       197   197    197       197   197   197
1069811614030017       123   123    123       123   123   123
1069811213090125       112   112    112       112   112   112
1069817214030024       102   102    102       102   102   102
1069811613090135        79    79     79        79    79    79
...                    ...   ...    ...       ...   ...   ...
1069819913030211         1     1      1         1     1     1
1069819913030182         1     1      1         1     1     1
1069819913030042         1     1      1         1     1     1
1069819913030041         1     1      1         1     1     1
1069850614030038         1     1      1         1     1     1

[624 rows x 6 columns]

In [86]:
no_hm_os

,stuno,courseid,oper,title,new_oper,time,tlen
72381,1069800109030205,23,4,操作系统原理(新),tag,1429497734,0
72382,1069800109030205,23,75,连续分配方式,done,1429497741,0
72386,1069800109030205,23,75,对换,done,1429497796,0
72387,1069800109030205,23,75,三级调度的概念及算法准则,done,1429497920,0
72399,1069800109030205,23,79,连续分配方式,tag,1429499516,412
...,...,...,...,...,...,...,...
70221,1069850614030008,23,4,操作系统原理(新),tag,1428674222,0
70222,1069850614030008,23,75,单道和多道批处理系统,done,1428674265,0
70229,1069850614030008,23,76,单道和多道批处理系统,duration,1428677285,1638
70230,1069850614030008,23,78,单道和多道批处理系统,tag,1428677286,0
71249,1069850614030038,23,4,操作系统原理(新),tag,1429065338,0

In [87]:
pro_os['stuno'].nunique()

207

In [89]:
pro_java[pro_java['new_oper']!='duration']

,stuno,courseid,oper,title,new_oper,time,tlen
1673,1069800109030205,5,1,Java运算符,watch,1406863244,0
2665,1069800109030205,5,60,《2014年（春）08月课程导学》之三十七,watch,1410862720,0
2699,1069800109030205,5,75,StringTokenizer,done,1410874261,0
2700,1069800109030205,5,75,Java Applet,done,1410874265,0
2722,1069800109030205,5,75,Java成员方法,done,1410913417,0
...,...,...,...,...,...,...,...
11463,1069850614030038,5,67,JAVA语言学习指南,watch,1418687894,0
17311,1069850614030038,5,4,JAVA语言(新),tag,1429083139,0
17312,1069850614030038,5,75,Java语言背景,done,1429083169,0
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0

In [90]:
pro_net[pro_net['new_oper']!='duration']

,stuno,courseid,oper,title,new_oper,time,tlen
105590,1069800113030103,182,75,第13讲,done,1416668571,0
105607,1069800113030103,182,75,第07讲,done,1416669820,0
116150,1069800113030103,182,78,第02讲,tag,1420889289,0
116154,1069800113030103,182,75,第02讲,done,1420889432,0
120327,1069800113030103,182,75,第01讲,done,1425030456,0
...,...,...,...,...,...,...,...
127058,1069850614030008,182,75,第01讲,done,1429539992,0
128149,1069850614030008,182,75,第02讲,done,1429624580,0
128487,1069850614030008,182,78,第03讲,tag,1429753275,138
128637,1069850614030008,182,4,计算机网络原理(新),tag,1429794648,0
128638,1069850614030008,182,75,第03讲,done,1429794803,0

In [91]:
pro_os[pro_os['new_oper']!='duration']

,stuno,courseid,oper,title,new_oper,time,tlen
72381,1069800109030205,23,4,操作系统原理(新),tag,1429497734,0
72382,1069800109030205,23,75,连续分配方式,done,1429497741,0
72386,1069800109030205,23,75,对换,done,1429497796,0
72387,1069800109030205,23,75,三级调度的概念及算法准则,done,1429497920,0
72399,1069800109030205,23,79,连续分配方式,tag,1429499516,412
...,...,...,...,...,...,...,...
21504,1069834615030039,23,75,网络操作系统提供的服务,done,1428383946,0
21533,1069834615030039,23,75,系统安全的基本概念,done,1428394881,0
70221,1069850614030008,23,4,操作系统原理(新),tag,1428674222,0
70222,1069850614030008,23,75,单道和多道批处理系统,done,1428674265,0
70230,1069850614030008,23,78,单道和多道批处理系统,tag,1428677286,0

In [92]:
pro_java

,stuno,courseid,oper,title,new_oper,time,tlen
1673,1069800109030205,5,1,Java运算符,watch,1406863244,0
2665,1069800109030205,5,60,《2014年（春）08月课程导学》之三十七,watch,1410862720,0
2699,1069800109030205,5,75,StringTokenizer,done,1410874261,0
2700,1069800109030205,5,75,Java Applet,done,1410874265,0
2701,1069800109030205,5,76,Java Applet,duration,1410874275,8
...,...,...,...,...,...,...,...
17312,1069850614030038,5,75,Java语言背景,done,1429083169,0
17314,1069850614030038,5,77,Java语言背景,tag,1429083255,0
17315,1069850614030038,5,76,Java语言背景,duration,1429083393,141
17318,1069850614030038,5,75,网络通信基础,done,1429084813,0
17327,1069850614030038,5,76,网络通信基础,duration,1429085601,787

In [93]:
pro_java['new_oper'].value_counts()

done        932
duration    761
tag         282
watch       203
Name: new_oper, dtype: int64

In [94]:
pro_net['new_oper'].value_counts()

done        1361
duration    1055
tag          460
watch        211
Name: new_oper, dtype: int64

In [95]:
pro_os['new_oper'].value_counts()

done        1785
duration    1510
tag          534
watch        216
Name: new_oper, dtype: int64